@font-face{

  	font-family: Alice-Regular;
    src: url(Alice-Regular.ttf);

}

@font-face{

  	font-family: pixel;
    src: url(pixel.TTF);

}


*{

	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body{

	/*width: 100vw; height: 90vw;  /* ViewPort - tamanhos*/
    margin-top: 10px;
    background-color: #577870;
    background-size: 100%;
}

#titulo{

	color: whitesmoke;
	position: relative;
	font-family: pixel;
	letter-spacing: 2px;
}

#texto{

	width: 250px;
	border: 4px dotted lightyellow;
	border-radius: 90px;
	text-align: center;
	color: whitesmoke;
	margin-left: 150px;
	font-size: 22px;
	margin-top: 100px;
	position: absolute;
	padding: 10px;
	font-family: Alice-Regular;


}

.container{

	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap ; /* 1 Elemento por linha*/
	flex-direction: column; /* Elementos em coluna*/
}

#imagem{

	 background-image: url(../img/Astecas.png);
     width: 1200px;
     height: 300px;
	 background-repeat: no-repeat;
}

#palavra-secreta{

	font-family: Alice-Regular;
	display: flex;
	flex-direction: row;
	justify-content: center; /* Centralizar */
	align-items: center;
	font-size: 1em;
	margin-top: 30px; /* Distancia entre a imagem e as letras*/

}

/* tamanhos pequenos pra mobile*/

.letras{

	width: 16px;
	text-align: center;
	border-bottom: 2px solid whitesmoke;
	color: white;
	padding: 2px;
	margin-left: 2px;
	margin-right: 2px;
	font-family: Alice-Regular;
}

.letrasEspaco{

	border-bottom: none;
	width: 20px;

}
#teclado{

	margin-top: 30px;
	font-family: Alice-Regular;

}

.teclas button{

	width: 24px;
	height: 24px;
	margin: 2px;
	margin-bottom: 5px;
	cursor: pointer;
	box-shadow: 0px 2px 5px #62D8DE;
	border-radius: 5px;
	border: 1px solid #A8F4FA;
	color: #52787A;
	font-weight: 900;
	font-family: Alice-Regular;
	background-color: #F5F2F0;

}

.teclas button:disabled{

	cursor: not-allowed;

}

.teclas button:hover{

	transform: scale(1.3); 

}

#categoria{

	margin-top: 30px;
	color: whitesmoke;
	font-size: 1.3em;
	font-family: Alice-Regular;

}

#btnReiniciar{

	background-color: lightyellow;
}

@media (min-width: 321px){

	.teclas button{

	width: 25px;
	height: 25px;}

	#categoria{

	font-size: 1.5em;}
	}

@media (min-width: 376px){

	.teclas button{

	width: 30px;
	height: 30px;}

	#palavra-secreta{

		font-size: 1.3em;
	}

	.letras{
		width: 18px;
	}

	#categoria{

	font-size: 1.5em;}
	}

@media (min-width: 426px){

	.teclas button{

	width: 36px;
	height: 36px;}

	#palavra-secreta{

		font-size: 1.5em;
	}

	.letras{
		width: 20px;
	}

	#categoria{

	font-size: 1.6em;}
	
	}

/* Deixando responsivo para cada tipo de tela*/

@media (min-width: 769px){

	.teclas button{

	width: 68px;
	height: 68px;
	font-size: 1.8em;

	}


	#palavra-secreta{

		font-size: 1.8em;
	}

	.letras{
		width: 35px;
	}

	#categoria{

	font-size: 2em;
	}


}